@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    text-align: center;
    background-color: rgb(226, 0, 0);
    border-radius: 5px;
    color: #f2f2f2;
    
}

h2 {
    font-size: 1.5em;
}

.texto-verde {
    font-size: medium;
    font-style: italic;
    font-weight: 500;
    white-space: unset;
    text-wrap: balance;
    padding: 10px;
    padding-left: 20px;
    background-color: rgba(144, 238, 144, 0.383);
    border-style: solid;
    border-width: 1px;
    border-color: lightgreen;
    border-radius: 10px;
    box-shadow: 4px 2px 20px lightgray;
    color: green;
}

.panel-cotizacion {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
}

.panel-desgloce {
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 4px 2px 20px lightgray;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.centrar-elementos {
    text-align: center;
}

label {
    margin-top: 10px;
}

input, button, select {
    font-size: large;
    margin-top: 5px;
    padding: 8px;
}

button {
    margin-top: 20px;
    padding: 20px;
    font-size: larger;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgb(226, 0, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: none;
}

th {
    font-size: larger;
    font-weight: 700;
    text-transform: uppercase;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

th {
    background-color: #3498db;
    color: #fff;
}

tfoot {
    font-size: larger;
    font-weight: 700;
}

.texto-derecha {
    text-align: right !important;
}

.label-monto {
    font-weight: 700;
    font-size: larger;
}

.label-destino {
    font-weight: 500;
    font-size: larger;
}

.label-intereses {
    font-weight: 700;
    font-size: larger;
}

.label-plazo {
    font-weight: 700;
    font-size: larger;
}

.label-cuota {
    font-weight: 700;
    font-size: larger;
}

.label-total {
    font-size: x-large;
    font-weight: 700;
    font-size: larger;
    color: darkred;
}

.total {
    font-weight: 700;
    padding: 16px;
    background-color: rgba(173, 216, 230, 0.46) !important;
    border-end-end-radius: 20px;
}

.ocultar-panel {
    display: none;
}

.transition-div {
    opacity: 0;
    font-weight: 700;
    line-height: 1.5;
    padding: 20px;
    text-align: justify;
    background-color: rgb(0, 0, 0);
    box-shadow: 6px 4px 40px lightgray;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 480px;
    transition: opacity 0.75s ease-in-out;
}

.transition-div-show {
    opacity: 1;
  }
  .transition-div p{
    color: #f2f2f2;
    text-align: center;
  }